/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("red", "lighten-1") !default;
@import "materialize";

#logo{
	max-height: 70px;
	margin-left: 10px;
}

#new-client{
	width: 60%;
	text-align: center;
	margin: 0 auto;
}

.userLogin{
	width: 25%;
	margin: 0 auto;
}

.userForm {
	width: 50%;
	margin: 0 auto;
}

.midcontent {
	width: 70%;
	height: 440px;
	margin: 0 auto;
	text-align: center;
	
}

.midcontent img {
	border-radius: 25px;
	
}